@model List<Marmoset>
@*
    l'annotation model remplace le type de la propriété Model (dynamic)
    elle permet de "lier" une vue à un type en particulier => ici une liste de contact (List<Contact>)
*@

@{
    ViewData["Title"] = "Liste des Marmosets";
}

@* Je suis la page pour lister les Marmosets... *@

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameForInnerType((Marmoset m) => m.Name)</th>
            <th scope="col">@Html.DisplayNameForInnerType((Marmoset m) => m.Color)</th>
            <th scope="col">Actions</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Marmoset m in Model) @* Model est de type List<Marmoset> grace à la ligne 1 du fichier '@model List<Marmoset>' *@
        {
            <tr>
                <th scope="row">@m.Id</th>
                <td>@m.Name</td>
                <td>@m.Color</td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@m.Id">Détails</a>
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@m.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
